# IDE and environment
.idea/
.venv/
*.iml
*.pyc
*.xml
*.png
*.xlsx

# private service costs
.env

# Output files
customer_revenue_breakdown.xlsx
total_revenue_growth_chart.png
monthly_hosting_revenue_chart.png